* {
    box-sizing: border-box;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    overflow: hidden;
}

iframe {
    display: none;
    height: calc(100% - 80px - 92px);
    position: fixed;
    top: 80px;
    left: 300px;
    width: calc(100% - 300px);
    min-width: 900px;
    overflow-y: hidden;
}

iframe.selected {
    display: block;
}

audio {
    position: absolute; /*audio控件调试用*/
    left: 50%;
    right: 50%;
    bottom: 200px;
    display: none;
}

#top-header {
    width: 100vw;
    min-width: 1200px;
    height: 80px;
    background-color: #ec4141;
    display: flex;
    justify-content: left;
    align-items: center;
    user-select: none;
    position: fixed;
}

#top-header>#logo {
    width: 203px;
    height: 73px;
    margin-right: 50px;
    margin-left: 50px;
}

#top-searchbox {
    width: 310px;
    height: 40px;
    border: none;
    border-radius: 14px;
    padding: 5px 35px 5px 35px;
    margin-left: 110px;
    cursor: text;
    background-color: #e33d3d;
    color: #f7ccc6;
}

#top-searchbox::placeholder {
    color: #f7ccc6;
}

#top-header>span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-header>span::before {
    content: "\f002";
    font-family: "FontAwesome";
    color: #f7ccc6;
    position: relative;
    display: block;
    top: 40%;
    left: 135px;
}

#top-header>a#login {
    padding: 20px;
    color: #e6e6e6;
    min-width: 5ch;
}

#top-header>a#login:hover {
    color: white;
}

#top-header>#blank-avatar {
    width: 40px;
    height: 40px;
    margin-left: 400px;
    cursor: pointer;
}

#top-header .top-icon {
    font-family: "FontAwesome";
    color: #f7ccc6;
    font-size: 120%;
    padding: 10px 15px;
}

#select-sidebar {
    background-color: var(--ne-lsbgc);
    position: fixed;
    width: 300px;
    height: calc(100% - 80px);
    top: 80px;
}

#select-sidebar .select {
    display: flex;
    font-size: 120%;
    padding: 10px;
    border-radius: 2px;
    color: var(--ne-sgray);
    font-weight: lighter;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
    border-radius: 10px;
}

#select-sidebar .select:hover {
    background-color: gainsboro;
}

#select-sidebar .select.selected {
    background-color: var(--ne-lred);
    color: #fff;
}

#sub1 {
    padding-left: 10px;
    padding-top: 10px;
}

.small {
    font-size: 90%;
    color: gray;
    padding: 10px;
    display: block;
}

.sideico>span::before {
    font-family: "FontAwesome";
    display: inline-block;
    padding: 5px;
    font-size: 120%;
    vertical-align: middle;
}

.sideico #i1::before {
    content: "\f004";
}

.sideico #i2::before {
    content: "\f0ab";
}

.sideico #i3::before {
    content: "\f1da";
}

#btm {
    z-index: 6;
    position: fixed;
    width: 100%;
    min-width: 1200px;
    height: 90px;
    bottom: 0;
    border: 1px solid rgb(179, 179, 179);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#album {
    display: flex;
    cursor: pointer;
}

#album img {
    width: 60px;
    height: 60px;
    margin: 0 20px;
    border-radius: 5px;
}

#title, #author {
    margin: 3px 0;
}

#title {
    font-size: 120%;
}

#author {
    font-size: 90%;
    font-weight: lighter;
}

.playbtn {
    background-color: transparent;
    font-size: 110%;
    font-family: "FontAwesome";
    font-weight: 900;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
}

.playbtn.onplay {
    font-size: larger;
    background-color: #f5f5f5;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

.playbtn.onplay:hover {
    background-color: #dddddd;
}

#progress {
    appearance: none;
    width: 500px;
    height: 10px;
    background-color: #f0f0f0;
    outline: none;
    border-radius: 3px;
}

#progress::-webkit-slider-thumb {
    appearance: none;
    background-color: #ec4141;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

#mainplay {
    vertical-align: middle;
}

span.fn-icon {
    padding: 15px;
    font-family: "FontAwesome";
    font-size: 140%;
    cursor: pointer;
    position: relative;
}

span.fn-icon>sup {
    font-size: 10px;
    width: 26px;
    display: inline-block;
}

#audio-fns {
    margin-right: 30px;
    user-select: none;
}

#vol-box {
    width: 20px;
    height: 80px;
    background-color: white;
    border: 1px solid #bfbfbf;
    position: absolute;
    bottom: 80px;
    right: 180px;
    display: none;
    justify-content: center;
}

#volume {
    appearance: slider-vertical;
    cursor: pointer;
}